/* body와 상위 요소에 대한 스타일 */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

header, nav {
  padding: 10px;
  color: #fff;
  background-color: #333;
}

nav {
  background-color: #444;
}

/* a 태그 스타일 */
a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
}

/* main 태그 내부의 특정 요소에 영향을 주지 않도록 변경 */
main h2, main a, main ul, main li, main p, main form {
  color: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  /* 필요한 경우 더 많은 스타일을 추가하거나 기본 상태로 설정 */
}