.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  width: 92%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}