{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판</title>
  <link rel="stylesheet" href="{% static 'board.css' %}">
</head>
<body>
  <header>
    <h1>
      <a href="{% url 'main' %}">건전한 커뮤니티</a>
    </h1>
  </header>

  <nav>
    <a href="{% url 'signup' %}">회원가입</a>
    <a href="{% url 'login' %}">로그인</a>
    <a href="{% url 'board' %}">게시판</a>
  </nav>

  <div class="main-container">
    
    <div class="container">
      <h2>게시판</h2>
      <div class="post">
        <h3>게시물 제목</h3>
        <p>게시물 내용</p>
      </div>
      <div class="post">
        <h3>게시물 제목</h3>
        <p>게시물 내용</p>
      </div>
    </div>

    <div class="container">
      <h2>게시판</h2>
      <div class="post">
        <h3>게시물 제목</h3>
        <p>게시물 내용</p>
      </div>
      <div class="post">
        <h3>게시물 제목</h3>
        <p>게시물 내용</p>
      </div>
    </div>

  </div>
  
  <footer>
    <p>&copy; 2024 PYGRAM</p>
  </footer>
</body>
</html>